In [3]:
import pandas as pd 

df = pd.read_csv('fechas_cumpleanos.csv')
df

      docente        birthday
0       marco        enero 26
1     yasmira        abril 24
2  leon jaime   septiembre 18
3       leidy        enero 22
4      lizeth             NaN